<div class="container">
  <% if @current_user.nil? %>
    <div class="row">
      <div class="nav-btn">
        <%= link_to "Log In", :new_session_modal, remote:true, class: "btn btn-lg" %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="nav-btn" id="smaller-margin">
        <%= link_to "Log Out", :sign_out, method: :delete, class: "btn btn-lg"  %>
      </div>
    </div>
    <div class="row">
      <div class="nav-btn">
        <%= link_to "New Pine", :open_new_pin_modal, remote: true, class: "btn btn-lg" %>
      </div>
    </div>
  <% end %>
</div>
