.jumbotron {
  color: #ECF0F1;
  background: #2C3E50;
  margin-bottom: 0px;
}

.line {
  border-bottom: 1px solid grey;
}

.modal-header {
  border-bottom: none;
}

#form-title {
  text-align: center;
}

.modal-dialog {
  margin-top: 10px;
}
