body {
  background: white;
}

.jumbotron {
  color: #6D6F86;
  background: white;
  margin-bottom: 100px;
  border-bottom: 1px solid #6D6F86;
}

.modal-header {
  border-bottom: none;
}

#form-title {
  text-align: center;
}

.modal-dialog {
  margin-top: 10px;
}

.nav-btn {
  text-align: center;
  margin-bottom: 100px;
  a{
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #6D6F86;
    color: #6D6F86;
    &:hover {
      color: #3A3D64;
      border: 1px solid #3A3D64;
      box-shadow:rgba(0, 0, 0, 0.3) 0 2px 2px 0;
      -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 2px 2px 0;
      -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 2px 2px 0;
    }
  }

}

#smaller-margin {
  margin-bottom: 50px;
}

.thumbnail {
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.pin {
  border: none;
}

.pin-image {
  border: 1px solid #6D6F86;
  padding: 10px;
}
